@import '../../assets/styles/responsive.scss';

.blog-list {
    .row {
        display: flex;

        @include respond-to(medium) {
            flex-direction: column;
        }

        .child {
            width: 200px;
            height: 200px;
        }

        .red {
            background-color: red;
        }

        .green {
            background-color: green;
        }
    }
}